h1, nav, .tour {
    text-align: center;
}

nav a {
    display: block;
    color: black;
    text-decoration: none;
}

nav a:hover {
    color: #f53d3d;
}

p {
    font-size: 16px;
}

p.bandInfo {
    font-style: italic;
}

section h2 {
    color: #f53d3d;
}

section > img {
    display: block;
    margin: auto;
}

#footer {
    background-color: rgb(204, 200, 200);
    color: #f53d3d;
    padding: 25px 0px;
    margin-top: 10px;
    text-align: center;
}